<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate_tutorial</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- ============================= -->
        <!-- ======= option setting ====== -->
        <!-- ============================= -->

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!-- JDBC connection pool (use the built-in) -->
        <!--<property name="connection.pool_size">1</property>-->

        <!--use third-part database pool-->
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">10</property>
        <property name="c3p0.timeout">2000</property>
        <property name="c3p0.max_statements">10</property>
        <property name="c3p0.idle_test_period">2000</property>
        <property name="c3p0.timeout">2000</property>

        <!-- 每次 update/delete/insert 条数-->
        <property name="jdbc.batch_size">10</property>
        <!--每次 select 条数-->
        <property name="jdbc.fetch_size">10</property>

        <!--auto create table-->
        <property name="hbm2ddl.auto">create</property>
        <!--设置事务隔离级别-->
        <property name="connection.isolation">2</property>
        <!-- ==========entity mapping========== -->
        <!--<mapping resource="info/chen/model/xml_config/User.hbm.xml"/>-->
        <!--<mapping resource="info/chen/entity/Worker.hbm.xml"/>-->
        <!--<mapping class="info.chen.model.annotation.User"/>-->

        <!--many to one-->
        <!--<mapping resource="info/chen/manyToOne/Customer.hbm.xml"/>-->
        <!--<mapping resource="info/chen/manyToOne/Order.hbm.xml"/>-->

        <!--many to one both-->
        <!--<mapping resource="info/chen/manyToOneBoth/Customer.hbm.xml"/>-->
        <!--<mapping resource="info/chen/manyToOneBoth/Order.hbm.xml"/>-->

        <!-- A bidirectional one-to-one association foreign key -->
        <!--<mapping resource="info/chen/bidirectionalOneToOneForeign/Manager.hbm.xml"/>-->
        <!--<mapping resource="info/chen/bidirectionalOneToOneForeign/Department.hbm.xml"/>-->

        <!--A bidirectional one-to-one association primary key-->
        <!--<mapping resource="info/chen/bidirectionalOneToOnePrimaryKey/Manager.hbm.xml"/>-->
        <!--<mapping resource="info/chen/bidirectionalOneToOnePrimaryKey/Department.hbm.xml"/>-->

        <!--A unidirectional many-to-many association -->
        <!--<mapping resource="info/chen/unidirectionalManyToMany/Person.hbm.xml"/>-->
        <!--<mapping resource="info/chen/unidirectionalManyToMany/Address.hbm.xml"/>-->

        <!--A didirectional many-to-many association -->
        <!--<mapping resource="info/chen/bidirectionalManyToMany/Person.hbm.xml"/>-->
        <!--<mapping resource="info/chen/bidirectionalManyToMany/Address.hbm.xml"/>-->

        <!--inheritance mapping-->
        <!--<mapping resource="info/chen/inheritance_mapping/subclass/Person.hbm.xml"/>-->
        <!--<mapping resource="info/chen/inheritance_mapping/joinedSubclass/Person.hbm.xml"/>-->
        <mapping resource="info/chen/inheritance_mapping/unionSubclass/Person.hbm.xml"/>
    </session-factory>

</hibernate-configuration>